**Устанавливаем Pandas, Psycorg2 для взаимодействия с PostgreSQL и sqlalchemy:**

In [2]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\winchik\appdata\local\programs\python\python312\lib\site-packages (2.2.0)
Requirement already satisfied: numpy<2,>=1.26.0 in c:\users\winchik\appdata\local\programs\python\python312\lib\site-packages (from pandas) (1.26.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\winchik\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\winchik\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\winchik\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2023.4)
Requirement already satisfied: six>=1.5 in c:\users\winchik\appdata\local\programs\python\python312\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [3]:
!pip install psycopg2

Requirement already satisfied: psycopg2 in c:\users\winchik\appdata\local\programs\python\python312\lib\site-packages (2.9.9)

In [4]:
!pip install sqlalchemy

Requirement already satisfied: sqlalchemy in c:\users\winchik\appdata\local\programs\python\python312\lib\site-packages (1.4.51)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\winchik\appdata\local\programs\python\python312\lib\site-packages (from sqlalchemy) (3.0.3)

**Делаем импорт create_engine, чтобы иметь возможность подключиться к базе данных**
<br>
**Импортируем библиотеку Pandas и настраивает представление данных**
<br>
**Отключаем навязчивые предупреждения**

In [5]:
from sqlalchemy import create_engine

import pandas as pd
pd.set_option('display.max_columns', None)

import warnings
warnings.filterwarnings('ignore')

**Подключаемся по индивидуальному логину и паролю**

In [16]:
def connection_yandex_cloud_demo(echo):
    """Connection to DataBase dwh"""
    login = 'user_3'
    password = 'a6f601b7c855d45c6b5b182ab32a67c0'
    host = 'rc1b-7ng6ih3jte3824x8.mdb.yandexcloud.net'
    port = '6432'
    db_name = 'demo'
    return create_engine(f'postgresql://{login}:{password}@{host}:{port}/{db_name}', echo=echo)

engine_demo = connection_yandex_cloud_demo(echo=True)

**Импортируем разархиватор**
<br>
**Указываем, где лежит файл и куда его извлечь**

In [17]:
import zipfile
with zipfile.ZipFile('C:/Users/WiNchiK/Desktop/STUDY/DA_STUDY/Homework/SQL/fraud.csv.zip', 'r') as archive:
     archive.extractall('C:/Users/WiNchiK/Desktop/STUDY/DA_STUDY/Homework/SQL/')

**Считываем файл**

In [18]:
df = pd.read_csv('C:/Users/WiNchiK/Desktop/STUDY/DA_STUDY/Homework/SQL/fraud.csv.', sep=',')

**Определяем форму/размер**

In [10]:
df.shape

(265340, 24)

**Выводим информацию**

In [11]:
df.info

<bound method DataFrame.info of         Unnamed: 0.1  Unnamed: 0 trans_date_trans_time            cc_num  \
0             811778      811778   2019-12-07 10:55:06      676173792455
1            1101718     1101718   2020-04-03 13:10:06    30518206766474
2             800013      800013   2019-12-04 07:07:04  4658490815480264
3             398945      398945   2019-06-30 18:43:08  4716561796955522
4             207455      207455   2019-04-15 19:57:49  3528407217576457
...              ...         ...                   ...               ...
265335       1295399     1295399   2020-06-21 01:00:08  3524574586339330
265336       1295491     1295491   2020-06-21 01:53:35  3524574586339330
265337       1295532     1295532   2020-06-21 02:16:56  4005676619255478
265338       1295666     1295666   2020-06-21 03:26:20  3560725013359375
265339       1295733     1295733   2020-06-21 03:59:46  4005676619255478

                                    merchant       category      amt  \
0               fraud_Zieme, Bode and Dooley  gas_transport    86.19
1                       fraud_Lind-Buckridge  entertainment    85.81
2                    fraud_Hackett-Lueilwitz    grocery_pos    99.30
3                         fraud_Lynch-Wisozk           home    42.09
4                    fraud_Fisher-Schowalter   shopping_net     4.24
...                                      ...            ...      ...
265335                    fraud_Kassulke PLC   shopping_net   977.01
265336                      fraud_Schumm PLC   shopping_net  1210.91
265337  fraud_Tillman, Dickinson and Labadie  gas_transport    10.24
265338                  fraud_Corwin-Collins  gas_transport    21.69
265339                   fraud_Koss and Sons  gas_transport    10.20

           first      last gender                         street  \
0       Brittany       Cox      F    07177 William Dale Apt. 547
1         Tamara  Martinez      F  471 Marquez Prairie Suite 680
2           Tara  Richards      F          4879 Cristina Station
3         Lauren  Anderson      F       11014 Chad Lake Apt. 573
4       Patricia     Leach      F       71309 Martinez Stravenue
...          ...       ...    ...                            ...
265335    Ashley   Cabrera      F   94225 Smith Springs Apt. 617
265336    Ashley   Cabrera      F   94225 Smith Springs Apt. 617
265337   William     Perry      M   458 Phillips Island Apt. 768
265338    Brooke     Smith      F      63542 Luna Brook Apt. 012
265339   William     Perry      M   458 Phillips Island Apt. 768

                  city state    zip      lat      long  city_pop  \
0         Santa Monica    CA  90403  34.0287 -118.4924     92043
1             Matthews    MO  63867  36.7154  -89.6287      1019
2         Keisterville    PA  15449  39.9636  -79.7853       184
3          Heart Butte    MT  59448  48.2777 -112.8456       743
4            Kingsport    TN  37663  36.4715  -82.4834     87124
...                ...   ...    ...      ...       ...       ...
265335      Vero Beach    FL  32960  27.6330  -80.4031    105638
265336      Vero Beach    FL  32960  27.6330  -80.4031    105638
265337  Denham Springs    LA  70726  30.4590  -90.9027     71335
265338         Notrees    TX  79759  31.8599 -102.7413        23
265339  Denham Springs    LA  70726  30.4590  -90.9027     71335

                                job         dob  \
0       Civil engineer, contracting  1961-04-25
1             Aeronautical engineer  1979-01-26
2                 Systems developer  1945-11-04
3                    Water engineer  1972-05-04
4                     Warden/ranger  1987-02-14
...                             ...         ...
265335            Librarian, public  1986-05-07
265336            Librarian, public  1986-05-07
265337                    Herbalist  1994-05-31
265338               Cytogeneticist  1969-09-15
265339                    Herbalist  1994-05-31

                               trans_num   unix_time  merch_lat  merch_long  \
0       f32d1f4b2a918f4c2f6acdc83033ee35  1354877706  33.287851 -118.740970
1       f5dad8e2d7c39d81502d846a20286659  1364994606  36.539950  -89.857416
2       1d023bc78ab93ab65a35bbb53bcc67bd  1354604824  39.582872  -78.838550
3       dbf6c06d3277438afdf7af883fb4285f  1341081788  48.310513 -112.837535
4       88814660aba0101b174e1e8137f4a7af  1334519869  37.329094  -82.070746
...                                  ...         ...        ...         ...
265335  a83b093f0c1d9068fa0089f7c722615f  1371776408  26.888686  -80.834389
265336  f75b35bed13b9e692f170dba45a15b21  1371779615  28.216707  -79.855648
265337  a0ba2472cd3fc9731f2a18d3f308f5c3  1371781016  29.700456  -91.361632
265338  daa281350b1e16093c7b4bf97bf4d6ed  1371785180  32.675272 -103.484949
265339  0c1c20470fc0d16019b5c368cadf563a  1371787186  31.363252  -89.932309

        is_fraud
0              0
1              0
2              0
3              0
4              0
...          ...
265335         1
265336         1
265337         1
265338         1
265339         1

[265340 rows x 24 columns]>

**Используем одну из обязательный проверок - узнаем есть ли незаполненные значения и сколько**

In [12]:
df.isna().sum()

Unnamed: 0.1             0
Unnamed: 0               0
trans_date_trans_time    0
cc_num                   0
merchant                 0
category                 0
amt                      0
first                    0
last                     0
gender                   0
street                   0
city                     0
state                    0
zip                      0
lat                      0
long                     0
city_pop                 0
job                      0
dob                      0
trans_num                0
unix_time                0
merch_lat                0
merch_long               0
is_fraud                 0
dtype: int64

**Записываем записи, хранящиеся в DataFrame, в базу данных SQL**
<br>
**Но что-то пошло не так...**

In [19]:
df.to_sql(name='fraud'
         ,con=engine_demo
         ,schema='user_3'
         ,if_exists='replace'
         ,index=True)

AttributeError: 'Engine' object has no attribute 'cursor'

In [14]:
df.shape[0]

265340